.resume {
    min-width: 320px;

    &-section {
        margin-bottom: 0;
        page-break-inside: avoid;

        &__content {
            .row {
                margin-bottom: 0;
            }
        }

        &__description {
            font-size: 0.75rem;
        }

        @media print {
            & > .row {
                margin-bottom: 10px;
            }
        }
    }
}
