.resume {
    min-width: 320px;

    &-section__content {
        .row {
            margin-bottom: 0;
        }
    }

    &-section {
        margin-bottom: 0;
    }

    @media print {
        min-width: $small-screen-up;
    }
}
