.resume-volunteer {
    &-entry {
        &__organization {
            & .link {
                display: inline;
            }
        }

        &__highlights {
            margin-top: 0;
        }

        & > .row {
            margin-bottom: 0;
        }
    }
}
