{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react"
	],
	"rules": {
		"quotes": [
			2,
			"double",
			{
				"avoidEscape": true
			}
		],
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"semi": "error"
	}
}