language: node_js
dist: trusty
node_js:
- '8'
env:
  global:
  - AWS_ACCESS_KEY_ID=AKIAIEKKCTFCDTGKKHMA
  - secure: lsChDqoBUH9FaP1UbRz4yL9B3IxFTXg75WPiFGmaKmARGJ4cb6YvGFnJkSrrT6IN7aovlkR4rLCbEqyRsFmEUuAdoNa/zBIwVhc03QYgaX6cqdSubN5QvfCqKJyDiPJ+DqZyuPmUTfr8Eirh1/BWwufMkdlqFRTNBH2PF5FK1gzA9SIc+bC0s3ySuWtxYb//ovx23A+Tow7+hftzrrQm23Mdze/xoqnlS6uhjWTzhwdvsk2r+I/47M/3lTHcIDGLrgDJ9tbwb3ZfLfnk2arHGBLYSKWvNwq+ACy4CMSfIjLZCZJ93YOJbMomt0usjQZG8C8PzfpjHqrEcuN6jOpv3Vou+w9oILoyGnWC06yi7VFiUa0vPkd0fEEHcl9cL1SdLg8hgni9zVND5+We/vDLpGJAlp+n0PtPK6CvMk8r3OI79DWCDO+SjMs0goC1u6iArLz2kPdiIPmIi60MG3tHmcip9bajNzfy8dXGvedGVOSNLQv9uYhOXmu4Eb9eI6SDMnXLZADSp6TezHLOxr1IDenWA5VTEOx5UrDH0gLMQN1bXYD24N5jKoFRTf5Ucx+m2Luu7R60mn5LzcqtAUNLm3NJyx3sBGwlSEl3K75GgIow9yfi1MWiOWD1xLlemvpi8HN+som4DlYJObZJzMAH37TkI8hdFHfhcQbEcGgpK5M=
  - secure: X64AGFc6rKkfcg+1/iUHM9IbEfGCjEWyNeHQBuh3WuRlkc5C+x5PLQQ4RpSZqqf7APH+/xmjYHP6Xt/T5O2wM2rimH4yWfm45xY+HKamWbelCSQjWG6VeKAwVJMKiqInAjzYUaf2qGZoHtGeQ2fzJrCOkqofVTXLfq9AyA7BU9LMd0Sp9bt2KJSGaguc+Ajm4kX8NQ3Uop1of+EQiGmTJKWeoFdjuuY8YQgjnkk7Mh5mzbNTdxeQAj9URsZSiU614q5zpkgobPHdTdU/hsOmY/ELwwsSIpA5Zic/a69HHjRZvKnfXp48BXBsPiv6F6cTtjtpyyAvYq61uwEDF5N+E/3lP/qSbShJGwfVBupkfceh0Tc/amtBObBPTRlpMiQrs8PSgVRvlCWLpuUeJqoAmHi9Eayu9RW7a5/ULBpPa0a3WYKciFzcf1KzPusDQgzwzeyLTm67D/pwxwY8gghTWFwrqhcLnprnpRIlvjWSo9S4tYqKhxD6tZdpHa8hxJcpTxiY8k/QHqGvwPWKpW4QNUQigE7L8c77oSo718Wd9cDRifqMr/tjrzCRRHOq75lRyu1rr0ounDPQwKGoYh3dbgSrNiD9rW4B9qTKOnb5B+kGtbeCfwYLrok17oGt0UF/wBgKVib1uLC2FZXJijjpIDNPIbuOl88a9iXPKP9SZ9o=
before_install:
- uname -a
- lscpu
- npm install -g npm
- npm install -g serverless
- export NODE_ENV=prd;
script: npm test
after_success:
- mkdir -p ../dpl_cd_upload
- tar -zcf ../dpl_cd_upload/me.posts.tar.gz -C ./ .
- git config --local user.name "Travis"
- export TRAVIS_AUTHOR=travis@randytarampi.ca
- export COMMIT_AUTHOR=`git --no-pager show -s --format='%ae' \`git rev-parse\``
- git config --local user.email $TRAVIS_AUTHOR
- if [ -z "$TRAVIS_TAG" ]; then if [ "$COMMIT_AUTHOR" != "$TRAVIS_AUTHOR" ]; then
  npm version minor; git push https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG} --tags;
  npm version preminor -m "[Travis] Prepare version %s"; git push https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}
  HEAD:master; fi; fi;
deploy:
- provider: script
  script: NODE_ENV=dev npm run deploy
  skip_cleanup: true
  on:
    branch: master
- provider: script
  script: NODE_ENV=prd npm run deploy
  skip_cleanup: true
  on:
    tags: true
- provider: releases
  api_key:
      secure: WYoyquzsGn8vtgnLHC7tvCvysH+yi1JPhlATlchP4WwRJiori9klsUV7tBCStB/CbLe6wP4kINcyrKpv6SS9+QgYQDvNx7dZP9nTjtpTAG5o18sIZLTkzFUUv5E2usCiF38xLE33VbxhFa3VfhmLQUypntFM6AZS/mt+GQq28aKaoQLeV1aSJRpoyGCvamPrFB/LahTNVFe/U/ZCtfae6trqV4CeM5bTkeCt4llsR4lBTvkPOS+jpMr18VXVrgMwlWvOVL8mneowS7FNH6Wp2AAr5GT/LkspFrZ/Rcx7EhYgiah+A3whFGckED24uRjuxSsa3IVz8BtL7vTAbFBQrrSUI3scM0rXhA91ILtE7ZVLzhxtve22UUi+5/tkwcR06PmOa8bKtLcj2qRg5QSQxSoaJ7bQshcC9udYEjIs0SUfwsCqb8M61S+jbOFQGV+5MZif5dLrv5kh2UBatIiSC0v1MxIWPWObHkJ1Dh0zIunyvwtXEHwz6LSuEW1HNB4Ow5MH9vbpAK+oZmROdgyvhsXs8AvTxCwZH+jzEsfmL0VtBkfIu6xgdxRp7KXVcQY9Ca5xgyVjozmuiIX2NaHLnGYVkStWHesPJEH6TbA57702ijEe6rZljExpshvEB+VJ0NDzcwJ1ktMPIS1wwIUxet0zgYFR8+/hzYL5+pUp6rE=
  file: me.posts.tar.gz
  skip_cleanup: true
  on:
    tags: true
after_deploy:
- if [ "$TRAVIS_TAG" ]; then
  npm version preminor -m "[Travis] Prepare version %s"; git push https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}
  HEAD:master; fi;
notifications:
  slack:
    secure: g0wMZBg1xSjZZGIneSZMyvpPMX+js/Fi0Ny2onu8qfb5Fy1pPiKiwvOKjHFVg6F3D4/ZBxGfHieQ3SMyQCFegebEYL/lcUw766B90C1Vk2/5vTqL8CJsnPM7n+rZgERW5vWAQ3/zbcW3Qt8F0u/A7vu5YpY5jgKXlTqfsE4Aq85d0yqcFkO8IqWL7i3EsIXrS06M8N5vN2zZpSqyQV6Jm0Ph5lw3udG+Z745q6n9Ki9TPAxNcLwlr3hNKyngm9yXE5RjEGdNPYNuEy90vSGxzujbRNa7nY0Nr5m81cqnX9XT1NlizMj6tkvbNP4T6X8BG8dasiGMSYK3h4tyZW09Gp/ECDpTgHYIOocsReZ8kcbTDvUvCz7sslqRnDFoO8YmJnK+FwtG3nkGC3a4kNDkgJnoLYvmyB60Z/wszaxhZ6ygWutEnA8ZLy3axm7NRFdqURLiBheCTCWh4pqZ+FV2EpT+o1kAeFLu02S/OVHNY2VV5/DPvtYN4Mt+v9EaJJ6bmKmB2VpebpdTDv8vcYySJ364e9doRhXKbVp1Elnl9nduuwW8D1wp+Yh5rCgaYD6Ta6E73QPcZ3y/cP6pLTJ+k0ZeU9nmGGPS8j4plXBsBLjfuF3bbp9VmZzdqapVOsEgK/RmSWKfvtJaCrAaJcA/RG4OXQ4F4O35QDxoYGf0Io0=
