.letter-recipient {
    margin: 5px 0;

    @media #{$a4-page-up} {
        margin: 10px 0;
    }

    @media #{$legal-page-up} {
        margin: 30px 0;
    }

    [class^="printable-recipient__"] {
        margin: 0;
    }
}
