.printable-header {
    margin-bottom: 0;

    &__contact {
        margin-bottom: 0;
    }

    &__picture {
        max-height: 100%;
        max-width: 100%;
        margin: 20px 0;

        @media print {
            max-height: 67%;
            max-width: 67%;

            @media #{$letter-page-up} {
                margin: 12px 0;
            }

            @media #{$a4-page-up} {
                margin: 15px 0;
            }
        }
    }

    &__email, &__tel, &__web, &__location {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        .row {
            margin-bottom: 0;
        }
    }
}
