@import "variables";
@import "text";
@import "bear";
@import "post";
@import "photo";
@import "spinner";

html, body {
    height: 100%;
    width: 100%;

    @media print {
        min-width: $small-screen-up;
        max-width: $medium-screen;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;

        @page {
            size: portrait;
            margin: 0;
        }
    }
}

.hide-on-screen {
    @media screen {
        display: none;
    }
}

.hide-on-print {
    @media print {
        display: none;
    }
}

.show-on-a4 {
    @media print {
        display: none;

        @media #{$a4-page-up} {
            display: unset;
        }
    }
}

.show-on-letter {
    @media print {
        display: none;

        @media #{$letter-page-up} {
            display: unset;
        }
    }
}

.show-on-legal {
    @media print {
        display: none;

        @media #{$legal-page-up} {
            display: unset;
        }
    }
}

ul:not(.browser-default) {
    list-style-type: square;

    & li {
        list-style-type: unset;
    }
}

li {
    &.show-on-a4 {
        @media #{$a4-page-up} {
            display: list-item;
        }
    }
    &.show-on-letter {
        @media #{$letter-page-up} {
            display: list-item;
        }
    }
    &.show-on-legal {
        @media #{$legal-page-up} {
            display: list-item;
        }
    }
}

table {
    &.show-on-a4 {
        @media #{$a4-page-up} {
            display: table;
        }
    }
    &.show-on-letter {
        @media #{$letter-page-up} {
            display: table;
        }
    }
    &.show-on-legal {
        @media #{$legal-page-up} {
            display: table;
        }
    }
}
