.marker {
    &-info-box, &-info-window {
        @extend .z-depth-1;
        background-size: cover;

        img {
            object-fit: cover;
        }

        &-post {
            @extend .post;

            .post-title {
                font-size: 2rem;
            }

            &--loading {
                @extend .post--loading;
            }
        }
    }
}
