.marker {
    &-info-box, &-info-window {
        @extend .z-depth-1;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        &-close {
            background: transparent;
            border: 0;
            color: white;
            cursor: pointer;
            font-size: 2rem;
            line-height: 1;
            padding: 0.25rem 0.5rem;
            position: absolute;
            right: 0;
            text-shadow: 0 1px 2px black;
            top: 0;
            z-index: 1;
        }

        img {
            object-fit: cover;
        }

        &-post {
            @extend .post;

            .post-title {
                font-size: 2rem;
            }

            &--loading {
                @extend .post--loading;
            }
        }
    }
}
