.nav {
    &-header__tabs {
        min-height: $tabs-height;
    }

    &-container {
        position: fixed;
        width: 100%;
        z-index: 999;

        .row {
            margin: 0;

            .col {
                padding: 0;
            }
        }
    }

    @media print {
        display: none;
    }
}
