.post {
    @extend .z-depth-1;
    margin-bottom: 0;

    &-title,
    &-description,
    &-date,
    &-body,
    &-source {
        &__html {
            @extend .post-html;
        }

        &__link, &__text, &__label, &__date {
            @extend .post-text;
        }

        &__link {
            text-decoration: underline;
            text-decoration-color: $link-color;
        }
    }

    &-html {
        box-decoration-break: clone;

        ul {
            line-height: $blockLineHeight;
            padding: $blockPadding;
            margin-right: 4px;
        }
    }

    &-text {
        @extend .post-html;
        line-height: $blockLineHeight;
        padding: $blockPadding;
        margin-right: 4px;
        background-color: $blockColour;
        color: $blockTextColour;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    &--photo {
        background-size: cover;
    }

    &--words {
        .post-body {
            &__text {
                background-color: unset;
                color: unset;
            }
        }
    }

    &--loading {
        @extend .loading;
    }
}

.photo-text {
    @extend .post-text; // NOTE-RT: Legacy content hooked into this.
}

.row .col.post-metadata {
    padding: 0.75em;
}

.dimensions-container--posts {
    min-height: 100vh;
}
