.post {
    &-title,
    &-description,
    &-date,
    &-body,
    &-source {
        &__link, &__text, &__label, &__date {
            @extend .post-text;
        }

        &__link {
            text-decoration: underline;
            text-decoration-color: $link-color;
        }
    }

    &-text {
        line-height: $blockLineHeight;
        padding: $blockPadding;
        background-color: $blockColour;
        box-decoration-break: clone;
        color: $blockTextColour;
        margin-right: 4px;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    &--photo {
        margin-bottom: 0;
        background-size: cover;
    }

    &--loading {
        @extend .loading;
    }
}

.photo-text {
    @extend .post-text; // NOTE-RT: Legacy content hooked into this.
}

.row .col.post-metadata {
    padding: 0.75em;
}

.dimensions-container--posts {
    min-height: 100vh;
}
