.post-title {
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}

.post-text {
    line-height: $blockLineHeight;
    padding: $blockPadding;
    background-color: $blockColour;
    box-decoration-break: clone;
    color: $blockTextColour;
    margin-right: 4px;
}

.row .col.post-metadata {
    padding: 0.75em;
}
