.text {
    line-height: $blockLineHeight;
    padding: $blockPadding;
    background-color: $blockColour;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    color: $blockTextColour;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
    .text {
        a {
            color: $blockTextColour;
            text-decoration: underline;
            text-decoration-color: $link-color;
        }
    }
}
