@import "materialize-css/sass/components/color";

$blockPadding: 0.1em 0.5rem;
$blockColour: black;
$blockTextColour: white;
$blockLineHeight: 1.5;

$link-color: #ec7500;
$primary-color: $link-color;

$asset-url: "" !default;
$roboto-font-path: "#{$asset-url}/";
$fa-font-path: $asset-url;

@import "materialize-css/sass/components/variables";

$tabs-bg-color: $blockColour;
$tabs-text-color: $blockTextColour;
$tabs-underline-color: $primary-color;

$small-screen: 594px;
$small-screen-up: 595px;

$medium-and-up: "all and (min-width : #{$small-screen-up})";
$large-and-up: "all and (min-width : #{$medium-screen-up})";
$extra-large-and-up: "all and (min-width : #{$large-screen-up})";
$small-and-down: "all and (max-width : #{$small-screen})";
$medium-and-down: "all and (max-width : #{$medium-screen})";
$medium-only: "all and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

//$a4-page-up: "(min-width: 8.27in) and (min-height: 11.69in)"; // FIXME-RT: I dunno why, but this seems to work. There's probably some CSS ratio that's mangling the math here..
$a4-page-up: "(min-width: 6in) and (min-height: 6.37in)";

//$letter-page-up: "(min-width: 8.5in) and (min-height: 11in)"; // FIXME-RT: I dunno why, but this seems to work. There's probably some CSS ratio that's mangling the math here..
$letter-page-up: "(min-width: 6in) and (min-height: 6in)";

//$legal-page-up: "(min-width: 8.5in) and (min-height: 14in)"; // FIXME-RT: I dunno why, but this seems to work. There's probably some CSS ratio that's mangling the math here..
$legal-page-up: "(min-width: 6in) and (min-height: 7in)";
