@import "~me.common.css/styles/variables";

@media screen and (min-width: $grid-tablet-breakpoint) {
	.mdl-layout__drawer-button {
		display: none;
	}
}

@media screen and (max-width: $grid-tablet-breakpoint) {
	.mdl-layout__header-row .mdl-navigation.navigation {
		display: none;
	}
}

.block__text {
	padding: 0 20px;
}

.block__bear {
	position: relative;
}

.bear {
	text-align: center;
	font-size: 72pt;
	white-space: nowrap;
	line-height: 1.5;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	@media screen and (max-width: $grid-desktop-breakpoint) {
		position: unset;
		top: unset;
		left: unset;
		margin-right: unset;
		transform: unset;
		-ms-transform: unset;
		-moz-transform: unset;
		-webkit-transform: unset;
	}
}

.title {
	margin-top: 0;
	margin-bottom: 0;
}

.text {
	line-height: $blockLineHeight;
	padding: $blockPadding;
	background-color: $blockColour;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	color: $blockTextColour;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-bottom: 4px;
}