@media screen and (min-width: $grid-tablet-breakpoint) {
	.mdl-layout__drawer-button {
		display: none;
	}
}

@media screen and (max-width: $grid-tablet-breakpoint) {
	.mdl-layout__header-row .mdl-navigation.navigation {
		display: none;
	}
}

.block__text {
	padding: 0 20px;
}

.block__bear {
	position: relative;
}

li {
	margin-bottom: 4px;
}