@import "variables";

.layout {
	min-width: $grid-tablet-breakpoint;
}

@media screen and (min-width: $grid-tablet-breakpoint) {
	.mdl-layout__drawer-button {
		display: none;
	}
}

@media screen and (max-width: $grid-tablet-breakpoint) {
	.mdl-layout__header-row .mdl-navigation.navigation {
		display: none;
	}
}

.block__text {
	padding: 20px;
}

.bear {
	text-align: center;
	font-size: 72pt;
	white-space: nowrap;
	line-height: 1.5;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}