.post-title {
	margin-top: 0;
	margin-bottom: 0;
	overflow-wrap: break-word;
}

.post-body,
.post-date-modified,
.post-date-published,
.post-source {
	margin-top: 4px;
}

.post-text {
	line-height: $blockLineHeight;
	padding: $blockPadding;
	background-color: $blockColour;
	box-decoration-break: clone;
	color: $blockTextColour;
	margin-right: 4px;
}

.row .col.post-metadata {
	padding: 0.75em;
}